version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - .:/var/www/html
    ports:
      - "8001:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: laravel-db
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: laravel12
      MYSQL_USER: root
      MYSQL_PASSWORD:
    ports:
      - "3307:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
